<!doctype html>
<html>
<head>
    <title>Cat Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Permanent+Marker&family=Potta+One&family=Racing+Sans+One&family=Sarina&family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-heart"></span> CUTE OR NAH</h1>
        <a id="logout" href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
          <ul class="cats">
          <!-- <% for(let i=0; i<cats.length; i++) {%>
            <li class="character">
              <img class="cPics" src="<%= cats[i].url %>">
              <span><i data-url="" class="fa fa-heart" aria-hidden="true"></i></span>
              <button class="generate-cat">NEW PIC</button>
            </li>
          <% } %> -->
          <% cats.forEach(cat => { %>
            <li>
              <img class="cPics" src="<%= cat.url %>" alt="Random Cat">
              <span><i data-url="<%= cat.url %>" class="fa fa-heart" aria-hidden="true"></i></span>
              <button class="generate-cat">NEW PIC</button>
            </li>
          <% }) %>
          </ul>
            </div>
          </div>
        <div class="col-sm-6">
          <h3>Your Favorites</h3>
          <ul id="catGallery">
            <% favorites.forEach(fav => { %>
              <li>
                <img class="cPics" src="<%= fav.url %>" alt="Random Cat">
                <span><i data-url="<%= fav.url %>" class="fa fa-trash-o" aria-hidden="true"></i></span>
              
              </li>
            <% }) %>
          </ul>
          <!-- <h3>Your Favorites:</h3>
<ul class="favorites-container"></ul> -->

        

</div>

<script src="main.js"></script>

</body>
</html>


